<html lang="de">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald"/>
    <title data-template="config:app-title"/>

    <meta name="description" content="Zentrale Serien des Kantons Zürich 19. und 20. Jahrhundert"/>
    <meta itemprop="name" content="Zentrale Serien des Kantons Zürich 19. und 20. Jahrhundert"/>
    <meta itemprop="description" content="Zentrale Serien des Kantons Zürich 19. und 20. Jahrhundert"/>

    <meta property="og:locale" content="de"/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content="Zentrale Serien des Kantons Zürich 19. und 20. Jahrhundert"/>
    <meta property="og:title" content="Zentrale Serien des Kantons Zürich 19. und 20. Jahrhundert - Abkürzungen"/>
    <meta property="og:description" content="Zentrale Serien des Kantons Zürich 19. und 20. Jahrhundert"/>

    <meta content="summary_large_image" name="twitter:card"/>
    <meta name="twitter:title" content="Zentrale Serien des Kantons Zürich 19. und 20. Jahrhundert - Abkürzungen"/>
    <meta name="twitter:description" content="Zentrale Serien des Kantons Zürich 19. und 20. Jahrhundert"/>
    <link rel="canonical" url=""/>

    <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>
    <link rel="stylesheet" type="text/css" href="resources/fonts/font.css"/>
    <link rel="stylesheet" href="resources/css/theme.css"/>
    <link rel="stylesheet" href="resources/css/theme-rqzh.css"/>

    <script data-template="pages:load-components" src="pb-components-bundle.js" type="module"/>
</head>


<body>
<pb-page data-template="pages:pb-page" locales="resources/i18n/{{ns}}/{{lng}}.json" unresolved="unresolved" require-language="require-language" api-version="1.0.0">
    <app-drawer-layout force-narrow="force-narrow">
        <app-drawer data-template="templates:include" data-template-path="templates/drawer.html"/>

        <app-header-layout>
            <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                <app-toolbar data-template="templates:include" data-template-path="templates/menu.html"/>
            </app-header>

            <section>
                <div class="pb-container">
                    <h1 class="tp-title"><pb-i18n key="abbreviations"/></h1>
                </div>
            </section>

            <section>
                <div class="pb-container">
                    <main class="abbr-list" id="abbreviations">
                        <pb-load url="api/abbreviations" use-language="use-language" auto="auto"/>
                    </main>
                </div>
            </section>

        </app-header-layout>
    </app-drawer-layout>
</pb-page>
<div class="splash"/>
</body>
</html>