<div>
    <div data-template="app:list-places">
        <h3 class="place">
            <pb-i18n key="register.place"/>
        </h3>
        <ul class="places" data-template="app:show-list-items"/>
    </div>
    <div data-template="app:list-persons">
        <h3 class="person">
            <pb-i18n key="register.person"/>
        </h3>
        <ul class="persons" data-template="app:show-list-items"/>
    </div>
    <div data-template="app:list-organizations">
        <h3 class="organization">
            <pb-i18n key="register.organisation"/>
        </h3>
        <ul class="organizations" data-template="app:show-list-items"/>
    </div>
    <div data-template="app:list-keys">
        <h3 class="term">
            <pb-i18n key="register.keywords"/>
        </h3>
        <ul class="keywords" data-template="app:show-list-items"/>
    </div>
    <div data-template="app:list-lemmata">
        <h3 class="term">
            <pb-i18n key="register.lemma"/>
        </h3>
        <ul class="lemmata" data-template="app:show-list-items"/>
    </div>
</div>