<footer class="footer__imprint">
        <div class="footer-col">
            <h5>Kontakt</h5>
            <a href="http://www.staatsarchiv.zh.ch">Staatsarchiv des Kantons Zürich</a>
        </div>
        <div class="footer-col">
            <h5>Realisierung</h5>
            <a href="https://jinntec.de">JinnTec GmbH</a>
        </div>
        <div class="footer-col">
            <h5>
                Lizenz
            </h5>
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA</a>
        </div>
        <div class="footer-col">
            <h5>
                <a href="https://www.ssrq-sds-fds.ch/wiki/Transkriptionsrichtlinien">
                    Transkriptionsrichtlinien
                </a>
            </h5>
            <h5>
                <a href="https://www.ssrq-sds-fds.ch/wiki/Datierungsrichtlinien">
                    Datierungsrichtlinien
                </a>
            </h5>
        </div>
    </footer>