<app-toolbar class="menubar">
    <a href="${app}/index.html" class="logo" data-template="pages:parse-params"/>
    <pb-media-query query="(min-width: 1024px)">
        <a href="${app}/start.html" data-template="pages:parse-params">Start</a>
        <paper-menu-button>
            <a href="#" slot="dropdown-trigger" data-i18n="[title]menu.places" title="foo">
                <pb-i18n key="menu.places">Places</pb-i18n>
            </a>
            <paper-listbox slot="dropdown-content">
                <paper-item>
                    <a href="${app}/places/all/" data-template="pages:parse-params">
                        <pb-i18n key="menu.all-places">all</pb-i18n>
                    </a>
                </paper-item>
                <paper-item>
                    <a href="${app}/places/ZH_NF_I_1_3/" data-template="pages:parse-params">
                        <pb-i18n key="menu.ZH_NF_I_1_3">ZH_NF_I_1_3</pb-i18n>
                    </a>
                </paper-item>
                <paper-item>
                    <a href="${app}/places/ZH_NF_I_1_11/" data-template="pages:parse-params">
                        <pb-i18n key="menu.ZH_NF_I_1_11">ZH_NF_I_1_11</pb-i18n>
                    </a>
                </paper-item>
                <paper-item>
                    <a href="${app}/places/ZH_NF_I_2_1/" data-template="pages:parse-params">
                        <pb-i18n key="menu.ZH_NF_I_2_1">ZH_NF_I_2_1</pb-i18n>
                    </a>
                </paper-item>
                <paper-item>
                    <a href="${app}/places/ZH_NF_II_3/" data-template="pages:parse-params">
                        <pb-i18n key="menu.ZH_NF_II_3">ZH_NF_II_3</pb-i18n>
                    </a>
                </paper-item>
                <paper-item>
                    <a href="${app}/places/ZH_NF_II_11/" data-template="pages:parse-params">
                        <pb-i18n key="menu.ZH_NF_II_11">ZH_NF_II_11</pb-i18n>
                    </a>
                </paper-item>
            </paper-listbox>
        </paper-menu-button>
        <paper-menu-button>
            <a href="#" slot="dropdown-trigger" data-i18n="[title]menu.people" title="foo">
                <pb-i18n key="menu.people">People</pb-i18n>
            </a>
            <paper-listbox slot="dropdown-content">
                <paper-item>
                    <a href="${app}/people/all/" data-template="pages:parse-params">
                        <pb-i18n key="menu.all-people">all</pb-i18n>
                    </a>
                </paper-item>
                <paper-item>
                    <a href="${app}/people/ZH_NF_I_1_3/" data-template="pages:parse-params">
                        <pb-i18n key="menu.ZH_NF_I_1_3">ZH_NF_I_1_3</pb-i18n>
                    </a>
                </paper-item>
                <paper-item>
                    <a href="${app}/people/ZH_NF_I_1_11/" data-template="pages:parse-params">
                        <pb-i18n key="menu.ZH_NF_I_1_11">ZH_NF_I_1_11</pb-i18n>
                    </a>
                </paper-item>
                <paper-item>
                    <a href="${app}/people/ZH_NF_I_2_1/" data-template="pages:parse-params">
                        <pb-i18n key="menu.ZH_NF_I_2_1">ZH_NF_I_2_1</pb-i18n>
                    </a>
                </paper-item>
                <paper-item>
                    <a href="${app}/people/ZH_NF_II_3/" data-template="pages:parse-params">
                        <pb-i18n key="menu.ZH_NF_II_3">ZH_NF_II_3</pb-i18n>
                    </a>
                </paper-item>
                <paper-item>
                    <a href="${app}/people/ZH_NF_II_11/" data-template="pages:parse-params">
                        <pb-i18n key="menu.ZH_NF_II_11">ZH_NF_II_11</pb-i18n>
                    </a>
                </paper-item>
            </paper-listbox>
        </paper-menu-button>
        <paper-menu-button>
            <a href="#" slot="dropdown-trigger" data-i18n="[title]menu.organizations" title="foo">
                <pb-i18n key="menu.organizations">Organization</pb-i18n>
            </a>
            <paper-listbox slot="dropdown-content">
                <paper-item>
                    <a href="${app}/organization/all/" data-template="pages:parse-params">
                        <pb-i18n key="menu.all-organizations">all</pb-i18n>
                    </a>
                </paper-item>
                <paper-item>
                    <a href="${app}/organization/ZH_NF_I_1_3/" data-template="pages:parse-params">
                        <pb-i18n key="menu.ZH_NF_I_1_3">ZH_NF_I_1_3</pb-i18n>
                    </a>
                </paper-item>
                <paper-item>
                    <a href="${app}/organization/ZH_NF_I_1_11/" data-template="pages:parse-params">
                        <pb-i18n key="menu.ZH_NF_I_1_11">ZH_NF_I_1_11</pb-i18n>
                    </a>
                </paper-item>
                <paper-item>
                    <a href="${app}/organization/ZH_NF_I_2_1/" data-template="pages:parse-params">
                        <pb-i18n key="menu.ZH_NF_I_2_1">ZH_NF_I_2_1</pb-i18n>
                    </a>
                </paper-item>
                <paper-item>
                    <a href="${app}/organization/ZH_NF_II_3/" data-template="pages:parse-params">
                        <pb-i18n key="menu.ZH_NF_II_3">ZH_NF_II_3</pb-i18n>
                    </a>
                </paper-item>
                <paper-item>
                    <a href="${app}/organization/ZH_NF_II_11/" data-template="pages:parse-params">
                        <pb-i18n key="menu.ZH_NF_II_11">ZH_NF_II_11</pb-i18n>
                    </a>
                </paper-item>
            </paper-listbox>
        </paper-menu-button>        
        <a href="${app}/abbr.html" data-template="pages:parse-params" class="tp-menu-item" title="Abbreviations">
            <div>
                <pb-i18n key="abbreviations">Abkürzungen</pb-i18n>
            </div>
            <div class="ripple-container"/>
        </a>
        <a href="${app}/literaturverzeichnis.html" data-template="pages:parse-params" class="tp-menu-item" title="Bibliography">
            <div>
                <pb-i18n key="bibliography">Literaturverzeichnis</pb-i18n>
            </div>
            <div class="ripple-container"/>
        </a>
        <a id="feedback-mail" href="mailto:staatsarchivzh@ji.zh.ch" class="tp-menu-item">
            <div>
                <pb-i18n key="feedback">Feedback</pb-i18n>
            </div>
            <div class="ripple-container"/>
        </a>
        <pb-restricted login="login" group="tei">
            <paper-menu-button>
                <a href="#" slot="dropdown-trigger">
                    <pb-i18n key="menu.admin.title">Admin</pb-i18n>
                </a>
                <paper-listbox slot="dropdown-content">
                    <paper-item data-template="pages:edit-odd-list" data-template-emit="docs"/>
                    <paper-item>
                        <a href="${app}/api.html" data-template="pages:parse-params" target="_blank">API
                            Documentation</a>
                    </paper-item>
                </paper-listbox>
            </paper-menu-button>
        </pb-restricted>
        <div main-title="main-title"/>

        <!-- language selector -->
        <pb-lang name="lang" data-template="pages:languages"/>

        <pb-login id="login" group="tei">
            <iron-icon slot="icon" icon="account-circle"/>
            <p slot="information">
                <pb-i18n key="login-info"/>
            </p>
        </pb-login>

    </pb-media-query>

    <pb-media-query query="(max-width: 1023px)">
        <div main-title="main-title"/>

        <pb-login id="login" group="tei">
            <iron-icon slot="icon" icon="account-circle"/>
            <p slot="information">
                <pb-i18n key="login-info"/>
            </p>
        </pb-login>
        <paper-icon-button icon="icons:menu" drawer-toggle="drawer-toggle"/>
    </pb-media-query>

    <pb-progress indeterminate="indeterminate" bottom-item="bottom-item" subscribe="docs"/>

</app-toolbar>