<html>
<head>
    <meta charset="utf-8"/>
    <title data-template="config:app-title"/>
    <meta content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes" name="viewport"/>
    <link href="resources/images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="resources/images/favicon-16.png" rel="shortcut icon" sizes="16x16" type="image/png"/>
    <link href="resources/images/favicon-24.png" rel="shortcut icon" sizes="24x24" type="image/png"/>
    <link href="resources/images/favicon-32.png" rel="shortcut icon" sizes="32x32" type="image/png"/>
    <link href="resources/images/favicon-64.png" rel="shortcut icon" sizes="64x64" type="image/png"/>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"/>
    <link href="resources/css/theme.css" rel="stylesheet"/>
    <link href="resources/css/theme-rqzh.css" rel="stylesheet"/>
    <script data-template="pages:load-components" src="pb-components-bundle.js" type="module"/>
</head>


<body>
<pb-page data-template="pages:pb-page" locales="resources/i18n/{{ns}}/{{lng}}.json" unresolved="unresolved" require-language="require-language" api-version="1.0.0">
    <app-drawer-layout force-narrow="force-narrow">
        <app-drawer align="right" slot="drawer">
            <div class="drawer-content">
                <pb-media-query query="(max-width: 1023px)">
                    <!-- language selector -->
                    <ul class="drawer-menu">
                        <li>
                            <a data-template="pages:parse-params" href="${app}/index.html">Start</a>
                        </li>
                        <li>
                            <a class="tp-menu-item" href="${app}/abbr.html" title="Abbreviations" data-template="pages:parse-params">
                                <div>
                                    <pb-i18n key="abbreviations">Abkürzungen</pb-i18n>
                                </div>
                                <div class="ripple-container"/>
                            </a>
                        </li>
                        <li>
                            <a class="tp-menu-item" href="mailto:staatsarchivzh@ji.zh.ch">
                                <div>
                                    <pb-i18n key="feedback">Feedback</pb-i18n>
                                </div>
                                <div class="ripple-container"/>
                            </a>
                        </li>
                        <li>
                            <pb-lang data-template="pages:languages" name="lang"/>
                        </li>
                    </ul>
                </pb-media-query>
            </div>
        </app-drawer>
        <app-header-layout>
            <app-header effects="waterfall" fixed="fixed" reveals="reveals" slot="header">
                <app-toolbar class="menubar">
                    <a href="http://www.ssrq-sds-fds.ch/" class="logo">
                        <img src="resources/images/LogoSSRQVecLexia4000.png" alt="SSRQ Logo"/>
                    </a>
                    <pb-media-query query="(min-width: 1024px)">
                        <a href="${app}/index.html" data-template="pages:parse-params">Start</a>
                        <a href="${app}/abbr.html" class="tp-menu-item" title="Abbreviations" data-template="pages:parse-params">
                            <div>
                                <pb-i18n key="abbreviations">Abkürzungen</pb-i18n>
                            </div>
                            <div class="ripple-container"/></a>

                        <a href="mailto:staatsarchivzh@ji.zh.ch" class="tp-menu-item">
                            <div>
                                <pb-i18n key="feedback">Feedback</pb-i18n>
                            </div>
                            <div class="ripple-container"/></a>

                        <div main-title="main-title"/>


                        <pb-lang name="lang" data-template="pages:languages"/>
                        <pb-login id="login" group="tei">
                            <iron-icon slot="icon" icon="account-circle"/>
                        </pb-login>


                    </pb-media-query>

                    <pb-media-query query="(max-width: 1023px)">
                        <div main-title="main-title"/>
                        <pb-login id="login" group="tei">
                            <iron-icon slot="icon" icon="account-circle"/>
                        </pb-login>
                        <paper-icon-button icon="icons:menu" drawer-toggle="drawer-toggle"/>
                    </pb-media-query>

                    <pb-progress indeterminate="indeterminate" bottom-item="bottom-item" subscribe="docs"/>

                </app-toolbar>
            </app-header>

            <main class="abbreviations">
                <header>
                    <h1>
                        <pb-i18n key="partners"/>
                    </h1>
                </header>

                <div class="abbr-list" id="partners">
                    <pb-load url="api/partners" use-language="use-language" auto="auto"/>
                </div>
            </main>
        </app-header-layout>
    </app-drawer-layout>
</pb-page>
<div class="splash"/>
</body>
</html>