<aside class="main-grid__item">
    <div class="header card-padding">
        <h2>
            <pb-i18n key="browse.search">Suche</pb-i18n>
            <a href="#" id="search-info">
                <iron-icon icon="info"/>
            </a>
        </h2>
    </div>

    <div class="card-content card-padding">
        <pb-search submit-buttons="true" id="search-form" action="${app}/search.html" subforms="#options" subscribe="search" data-template="pages:parse-params" value="${query}" submit-on-load="submit-on-load" redirect="redirect" data-i18n="[place-holder]search-query-attr">
            <pb-select name="type" value="${type}" data-template="pages:parse-params" slot="beforeInput">
                <paper-item value="text"><pb-i18n key="text">Text</pb-i18n></paper-item>
                <paper-item value="lemma"><pb-i18n key="register.lemma">Lemma</pb-i18n></paper-item>
                <paper-item value="keywords"><pb-i18n key="register.keywords">Keywords</pb-i18n></paper-item>
            </pb-select>
            <input type="hidden" name="refresh" value="true"/>
            <input type="hidden" name="sort" id="hiddenSort" value="${sort}" data-template="pages:parse-params"/>

            <div class="panel-body">
                <h4><pb-i18n key="genre"/></h4>
                <paper-checkbox id="bearbeitungstext" data-template="pages:parse-params"><pb-i18n key="searchText"/></paper-checkbox>

                <ul class="subtype">
                    <li>
                        <paper-checkbox name="subtype" class="bearbeitungstext" value="title"><pb-i18n key="title"/></paper-checkbox>
                    </li>
                    <li>
                        <paper-checkbox name="subtype" class="bearbeitungstext" value="idno"><pb-i18n key="signatur"/></paper-checkbox>
                    </li>
                </ul>
                <paper-checkbox name="subtype" value="edition" data-template="pages:parse-params"><pb-i18n key="searchEdition"/></paper-checkbox>

                <h4><pb-i18n key="filters"/></h4>

                <div class="filter-grid">

                    <label class="flexend"><pb-i18n key="period"/>: <span id="time-range"/></label>
                </div>

                <div class="buttons">
                    <paper-button slot="resetButton"><pb-i18n key="reset"/></paper-button>
                    <paper-button slot="searchButton"><pb-i18n key="search"/></paper-button>
                </div>

            </div>
        </pb-search>
        <paper-dialog id="query-help-dialog">
            <h2><pb-i18n key="help-title">Erläuterungen zur Suche</pb-i18n></h2>
            <paper-dialog-scrollable>
                <pb-document id="help-text" path="help" odd="rqzh"/>
                <pb-view src="help-text" view="single" use-language="use-language" xpath="//div[@xml:lang=tokenize(request:get-parameter('user.language', ()), '-')[1] or @xml:lang='de'][1]">
                </pb-view>
            </paper-dialog-scrollable>
            <div class="buttons">
                <paper-button dialog-confirm="dialog-confirm" autofocus="autofocus">
                    <pb-i18n key="dialogs.close">Close</pb-i18n>
                </paper-button>
            </div>
        </paper-dialog>
    </div>
    <script defer="defer">
        const trigger = document.getElementById('search-info');
        trigger.addEventListener('click', function(ev) {
            ev.preventDefault();
            document.getElementById('query-help-dialog').open();
        });
    </script>
</aside>